@model RegisterDTO

<form asp-action="AddUser" asp-controller="Register" method="post">
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input asp-for="Email" type="email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary" id="signUp">Sign Up</button>
    <button class="btn btn-primary" data-dismiss="modal">Close</button>
</form>