@model List<TopicDTO>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Index</title>
</head>

<body>
    <style>
        body {
            background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            overflow-x: hidden;
        }

        .card {
            background-color: navajowhite;
        }
    </style>
    <div class="container-fluid px-0">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-opacity-50 text-center d-flex justify-content-center">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">TOPIC LIST</h1>
                <p class="lead my-3">You can follow any topics you like.</p>
                <p class="lead mb-0"><a id="returnHome" style="cursor:pointer;" class="text-white fw-bold">Save Changes and Return to Home...</a></p>
            </div>
        </div>
    </div>
    <div class="container" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">

        <div class="row">
            @foreach (TopicDTO item in Model)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="card col m-1 my-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title" id="topicName-@item.TopicID">@item.TopicName</h5>
                            <p class="card-text text-center" style="height:70px" id="topicDesc-@item.TopicID">@item.Description</p>
                            <div class="h-100 d-flex justify-content-center">
                        
                                <span style="color:dodgerblue" id="check-@item.TopicID">

                                    @if (item.IsSelected)
                                    {
                                        <i class="fas fa-check-circle fa-4x " onclick="AddTopic(@item.TopicID)"></i>
                                        <input value="true" id="input-@item.TopicID" name=@item.TopicID class="chkbtn" style="display:none" />
                                    }
                                    else
                                    {
                                        <i class="far fa-check-circle fa-4x " onclick="AddTopic(@item.TopicID)"></i>
                                        <input value="false" id="input-@item.TopicID" name=@item.TopicID class="chkbtn" style="display:none" />
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>

<script src="~/CustomScripts/TopicList.js"></script>